Source: php-myclabs-deepcopy
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.7.0
Homepage: https://github.com/myclabs/DeepCopy
Rules-Requires-Root: no
Vcs-Git: https://github.com/Vitexus/php-myclabs-deepcopy.git
Vcs-Browser: https://github.com/Vitexus/php-myclabs-deepcopy

Package: php-myclabs-deepcopy
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 php-deepcopy
Description: Transitional package for php-deepcopy
 This is a transitional dummy package. The myclabs/deep-copy library
 is provided by the php-deepcopy package in Debian.
 .
 This package can safely be removed once php-deepcopy is installed.
